html,
body {
	background-color: #a1e868;
	overscroll-behavior: none;
}

@media screen and (max-width: 12in) {
	body {
		padding-top: 1in;
	}
}

#screen {
	display: block;

	width: 90vw;
	max-height: 90vw;
	height: 90vh;
	max-width: 90vh;
	margin: 4vh auto;

	padding: 1px;
	border: 2px dotted black;
}
